$colorWhite: white;
$colorBlack: black;
$hoverNavbar: #7D1B63;
$navbarHump: #E63415;
$colorMainOne: #E63415;
$colorMainTow: #821A5D;
$colorText: #444444;
$colorCard: #F3F3F3;
$colorImageOne: #000000;
$colorImageTow: #00000000;
$colorMobile: #FFF2FA;