$colorWhite: white;
$colorBlack: black;
$hoverNavbar: #7D1B63;
$navbarHump: #E63415;
$colorhoverInput: #e63415d7;
$colorSectionMain: #a40b0b4b;
$colorMainTow: #821A5D;
$colorText: #444444;
$colorCard: #dddddd75;
$colorMobile: #fff2fada;
$colorLine: #ccc;
$colorSupplies: #e2e2e2;
$colorHoverCarousle: #e634154a;
$colorSuppliesMoney: #cacaca96;
$colorTextSupplies: #807D7E;
$colorHoverSupplies: rgba(255, 255, 255, 0.84);