@import "color";
@import url('https://fonts.cdnfonts.com/css/lama-sans');

// start public
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: $hoverNavbar;
}

body {
    text-transform: capitalize;
    font-family: 'Lama Sans', sans-serif;
}

.gapIcon {
    gap: 20px;
}

li {
    list-style: none;
}

.gap25 {
    gap: 25px;
}

.colorText {
    color: $colorMobile !important;
}

.hoverTitle:hover {
    h3 {
        color: $hoverNavbar;
    }
}

.activeTitle {
    color: $navbarHump;
}

.containerNavbar {
    padding-left: 70px;
    padding-right: 70px;
}

.borderWhite {
    border: 2px solid $colorWhite;
}

.borderBlack {
    border: 2px solid $colorBlack;
}

.imageAnimation {
    animation: imageAnimation 1.5s infinite;
}

@keyframes imageAnimation {
    0% {
        transform: translate(0, -10px);
    }

    50% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, -10px);
    }
}

.divMouse {
    cursor: pointer;
}

.textCard {
    color: $colorText;
}

.hoverCard::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -50px;
    border-radius: 15px;
    width: 106%;
    height: 115%;
    transition: 0.4s;
}

.hoverCard:hover::before {
    border-radius: 25px;
    left: -7px;
    background-color: $colorCard;
}

.iconPlus {
    transition: 0.3s;
}

.hoverPlus:hover {
    .iconPlus {
        transform: translate(-5px, 0);
    }
}

.swiper-pagination {
    top: 140px !important;
}

.swiper-pagination-bullet-active {
    width: 26px !important;
    border-radius: 20px !important;
}

.swiper-pagination-bullet {
    background-color: $colorWhite !important;
}

.tagTransition {
    transition: 0.5s;
}

.imageButton {
    width: 40px;
    height: 37px;
}

.divButton::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 0;
    background-color: $colorWhite;
    transition: 0.5s;
}

.divButton:hover {
    div {
        .textButton {
            margin-right: 10px !important;
            color: $colorBlack;
        }
    }
}

.divButton:hover::before {
    height: 100%;
}

.divButtonBlack {
    width: 20%;
}

.divButtonBlack:hover {
    div {
        .textButton {
            color: $colorWhite !important;
        }
    }
}

.divButtonBlack::before {
    background-color: $colorBlack;
}

.imageWhite {
    filter: brightness(0) invert(1);
}

.divWithdBlack {
    margin-top: 60px;
}

.textButton {
    margin-right: 0;
}

.divTextHeight {
    height: 35px;
}

.hoverText {
    transition: 0.3s;
}

.divTextHeight:hover {
    .hoverText {
        margin-top: -30px;
    }
}

.gap10 {
    gap: 10px;
}

.textNavbar {
    color: $hoverNavbar;
}

.gapRow {
    row-gap: 20px;
}

body .activeSwiper {
    color: $colorWhite;
    background-color: $navbarHump;
}

// end public
// start navbar
body header {
    z-index: 2;
    border-bottom: 3px solid #ccc;
    background-color: white;
}

body header .containerNavbar .listResponse li .flexColorNavbar div .iconTop {
    margin-top: 6.5px;
}

body header .containerNavbar .listResponse li:last-child {
    .iconTop {
        display: none;
    }
}

.iconTop {
    transform: rotate(0);
}

body header .containerNavbar .listResponse li .active {
    background-color: $hoverNavbar !important;

    .iconTop {
        transform: rotate(-45deg);
    }

    .iconTop,
    span {
        color: $colorWhite !important;
    }
}

body header .containerNavbar .listResponse li .flexColorNavbar:hover {

    .iconTop {
        transform: rotate(-45deg);
    }

    .iconTop,
    span {
        color: $hoverNavbar;
    }
}

body header .v-row .listResponse {
    overflow: unset !important;
}

body header .containerNavbar .listResponse li .divRelative .divButtonAll {
    padding-top: 40px;
    padding-bottom: 40px;
    top: 86px;
    left: 0;
}

body header .containerNavbar .listResponse li .divRelative .divButtonAll .divNavbarCamel {
    border-radius: 25px;
    padding-top: 50px;
    background-color: $navbarHump;
}

body header .containerNavbar .listResponse li:nth-child(2) .divButtonAll .divNavbarCamel {
    flex-direction: row-reverse;
    background-color: $colorMainTow !important;

    .divBottomGamel {
        bottom: -20px;
    }
}

body header .containerNavbar .listResponse li:nth-child(3) .divButtonAll .divNavbarCamel {
    background: -webkit-linear-gradient(-10deg, $colorMainTow, $navbarHump);
    padding-top: 0;

    .divBottomGamel {
        bottom: -20px;
    }
}

body header .containerNavbar .listResponse li:nth-child(3) {
    .containerNavbar {
        .v-row {
            .v-col {
                div {
                    .flexRow {
                        gap: 40px;
                        flex-direction: row-reverse !important;
                    }
                }
            }
        }
    }
}

.divBottomGamel {
    bottom: -7px;
}

body header .containerNavbar .listResponse li .divRelative .divButtonAll .containerNavbar .v-row .v-col .colorNavbarDiv {
    padding: 30px;
    border-radius: 30px;
    background-color: $colorMobile;
}

body header .containerNavbar .listResponse li .divRelative .divButtonAll .containerNavbar .v-row .v-col .colorImage {
    width: 50%;
    height: 60px;
}

body header .containerNavbar .listResponse li .divRelative .divButtonAll .containerNavbar .v-row .v-col .colorNavbarDiv:hover {
    background-color: $colorMainTow;

    .colorImage {
        filter: brightness(0) invert(1);
    }

    .colNews {
        color: $colorWhite;
    }
}

body header .containerNavbar .listResponse li .divRelative .divButtonAll .containerNavbar .v-row .colNews {
    color: $colorMainTow;
}

body header .containerNavbar .listResponse li .divRelative .divButtonAll .containerNavbar .v-row .v-col .divNavbarCamel .flexRow .divTextTow {
    gap: 10px;
    padding-bottom: 50px;
}

.gapTextColumn::before {
    content: "";
    position: absolute;
    width: 1.5px;
    height: 90%;
    background-color: $colorLine;
}

body header .containerNavbar .listResponse li .divRelative .divButtonAll .containerNavbar .v-row .v-col .rowChild {
    .colChild:first-child {
        .gapTextColumn::before {
            display: none;
        }
    }
}

// end navbar
// start main
body .sectionMain {
    background-color: $colorSectionMain;
    height: 100vh;
}

body .sectionMain .sectionVedioAndImage {
    height: 100vh;
}

body .sectionMain .sectionVedioAndImage .imageMainMobile,
body .sectionMain .sectionVedioAndImage video {
    opacity: 0.9 !important;
    object-fit: cover;
    z-index: -1;
}

body .containerNavbar .v-row .v-col div .divNews {
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 10px 10px 0 0;
    background-color: $navbarHump;
}

body .containerNavbar .v-row .v-col .divBoxNews {
    border-radius: 10px 0 10px 10px;
}

.topSwiperMobile {
    padding-left: 10% !important;
    padding-right: 10% !important;
    width: 90%;
}

.hoverCard {
    height: 100px;
}

body main .containerNavbar .v-row .v-col .divCarousel {
    margin-left: -25%;
    width: 150%;
}

// end main
// start cardsSanam
body .sectionCardsSanam::before {
    content: url("~/assets/images&icons/imagesAboutUs/star.svg");
    position: absolute;
    left: -10px;
    z-index: -1;
}

.divCard {
    border-radius: 20px;
    background-color: $colorCard;
}

.divCardImage {
    background-color: $hoverNavbar;
    width: 70px;
    height: 70px;
}

.sizeText14 {
    font-size: 14px;
}

body .sectionCardsSanam .containerNavbar .divCard:hover {
    background-color: $hoverNavbar;
    color: $colorWhite;

    .imageBackgroundCards {
        opacity: 0.5;
    }

    .divHoverTop {
        transform: translate(0, -20px);
    }

    .sizeText14 {
        color: $colorWhite;
    }

    .divCardImage {
        transform: translate(0, 50px);
        opacity: 0;
    }
}

body .sectionCardsSanam .containerNavbar .divCard .imageBackgroundCards {
    top: -10px;
    right: 10px;
    height: 160px;
    opacity: 0;
    transition: 0.4s;
}

// end cardsSanam
// start imageCards
.imageColor {
    img {
        border-radius: 40px;
    }
}

.imageColor::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 98%;
    border-radius: 40px;
    background: linear-gradient(-3deg, rgba(0, 0, 0, 0.396), rgba(0, 0, 0, 0));
}

.imageColor div .textBottom {
    bottom: -70px;
}

.divTextImage {
    top: 200px;
    gap: 10px;
}

.imageColor:hover {
    div {
        .textBottom {
            bottom: 40px;
        }
    }

    div {
        div {
            .divTextImage {
                top: 10px;
            }
        }
    }
}

// end imageCards
// start sectionWorldOfCamels
body .sectionFarms div .divMaintFarms,
body .sectionWorldOfCamels,
body .sectionWorldOfCamels .swiperCamels {
    margin-top: 70px;
}

body .sectionWorldOfCamels::before {
    content: url("/assets/images&icons/imagesWord/background.png");
    position: absolute;
    right: 0;
    bottom: 80px;
}

body .sectionWorldOfCamels .imageColor .textBottom1,
body .sectionWorldOfCamels .imageColor1::before,
body .sectionWorldOfCamels .imageColor1 .swiperImage {
    width: 380px !important;
    border-radius: 20px !important;
}

body .sectionWorldOfCamels .imageColor .textBottom1 {
    bottom: 15px;
    left: 0;
    z-index: 1;
}

body .sectionWorldOfCamels .swiper-slide-active {

    .imageColor1::before,
    .swiperImage {
        font-size: 20px !important;
        transform: scale(1.2);
    }

    .imageColor1::before {
        z-index: 1;
        height: 97%;
    }

    .imageColor1:hover {
        .textBottom1 {
            left: 50px;
            bottom: 115px;
        }

        .textBottom1 {
            .opacity0 {
                opacity: 0;
            }

            .hoverImage {
                margin-left: -60px;
                width: 100%;
                display: flex !important;
            }
        }
    }
}

body .sectionWorldOfCamels .imageColor1 .textBottom1 .hoverImage .divCircle {
    width: 80px;
    height: 80px;
}

body .sectionWorldOfCamels .imageColor1 .textBottom1 .hoverImage .iconSize {
    font-size: 25px;
}

// end sectionWorldOfCamels
// start Shepherd
body .containerNavbar .sectionShepherd {
    background-color: $hoverNavbar;
}

body .containerNavbar .sectionShepherd::before {
    content: url("/assets/images&icons/imagesOurPartners/background.png");
    position: absolute;
    right: -70px;
    top: -30px;
}

body .containerNavbar .sectionShepherd div .tagSize28 {
    font-size: 28px;
}

// end Shepherd
// start camel Supplies
.swiperText {
    background-color: $colorSupplies;
}

body .sectionWorldOfCamels .hoverSwiper:hover {
    cursor: pointer;
    background-color: $colorHoverCarousle;
}

body .sectionWorldOfCamels .gapRow .hoverBoxRouter .divCardSupplies {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $colorCard;
    border-radius: 10px 10px 0 0;
}

body .sectionWorldOfCamels .gapRow .hoverBoxRouter .divHeart {
    right: 18px;
    top: 18px;
    background-color: $colorCard;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    z-index: 1;
}

body .sectionWorldOfCamels .gapRow .hoverBoxRouter .divHeart:hover {
    width: 35px;
    height: 35px;
}

body .sectionWorldOfCamels .gapRow .hoverBoxRouter .divHeartAnimation {
    background-color: $colorWhite !important;

    .imageHeart:first-child {
        display: block !important;
    }

    .imageHeart:last-child {
        display: none;
    }
}

body .sectionWorldOfCamels .gapRow .hoverBoxRouter .divHeartAnimation::before {
    content: "";
    position: absolute;
    animation: Heartanmaion 0.5s;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: 3s;
    transform-style: preserve-3d;
}

@keyframes Heartanmaion {
    0% {
        width: 40px;
        height: 40px;
        background-color: $navbarHump;
        transform: rotateX(-180deg);
    }

    50% {
        width: 35px;
        height: 35px;
    }
}

body .sectionWorldOfCamels .gapRow .hoverBoxRouter .divShadowSupplies {
    border-radius: 0 0 10px 10px;
}

body .sectionWorldOfCamels .gapRow .hoverBoxRouter .divShadowSupplies .divMoney {
    background-color: $colorSuppliesMoney;
}

body .sectionWorldOfCamels .gapRow .hoverBoxRouter .divShadowSupplies div .textSuppliesBox {
    color: $colorTextSupplies;
}

body .sectionWorldOfCamels .gapRow .hoverBoxRouter .divCardSupplies .imageHeadband {
    height: 180px;
}

body .sectionWorldOfCamels .gapRow .hoverBoxRouter:hover {
    .imageHeadband {
        transform: scale(1.3) rotate(-10deg);
    }

    .divHoverSupplies {
        width: 95%;
        height: 95%;

        .divSuppliesBox {
            img {
                width: 12%;
            }

            font-size: 14px;
        }
    }
}

.divHoverSupplies {
    position: absolute;
    width: 0;
    height: 0;
    background-color: $colorHoverSupplies;
    border-radius: 18px;
    transition: 0.5s;

    .divSuppliesBox {
        img {
            width: 0;
        }

        font-size: 0;
    }
}

// end camel Supplies
// start camel farms
body .sectionFarms {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $hoverNavbar;
}

body .sectionFarms div .slider {
    height: 500px;
    overflow: hidden;
    position: relative;

    .slide-track {
        animation: scroll 10s linear infinite;
        display: flex;
        gap: 50px;
    }

    .slide {
        height: 100px;
        width: 250px;
    }
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(calc(-100px * 14));
    }
}

body .sectionFarms div .slider1 {
    margin-top: -1000px !important;
    height: 1500px;

    .slide-track {
        animation: scroll1 10s linear infinite;
    }
}

@keyframes scroll1 {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(calc(100px * 14));
    }
}

body .sectionFarms .imageBackgroundFrams::before {
    content: url("/assets/images&icons/imagesMazayen/ImageBackground.png");
    position: absolute;
    right: -70px;
    top: 0;
}

// end camel farms
// start camel services
body .containerNavbar .divImageBlack::before {
    content: "";
    position: absolute;
    background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0), black);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), black);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    border-radius: 0 0 10px 10px;
    z-index: 1;
    transition: 0.5s;
}

body .containerNavbar .divImageBlack .spanTextServices {
    z-index: 1;
    bottom: 30px;
}

body .containerNavbar .divImageBlack:hover::before {
    height: 40%;
}

body .containerNavbar .divImageBlack .spanTextServices .iconServices {
    width: 40px;
    height: 40px;
    border: 2px solid $colorWhite;
    bottom: -100px;
}

body .containerNavbar .divImageBlack:hover {
    img {
        z-index: -2;
        transform: scale(1.1);
    }

    .spanTextServices {
        bottom: 50px;
    }

    .iconServices {
        bottom: 0;
    }
}

// end camel services
// start footer center
body .sectionCenter {
    z-index: 1;
}

body .containerNavbar .sectionFooterCenter {
    background-color: $hoverNavbar;
}

body .containerNavbar .sectionFooterCenter form div .formLabel {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.2s ease all;
    color: #888;
}

body .containerNavbar .sectionFooterCenter form div .activeLabel {
    top: 10px;
    transform: translateY(0);
    font-size: 10px;
    color: #333;
}

body .containerNavbar .sectionFooterCenter form div input:focus-visible {
    outline: transparent !important;
}

body .containerNavbar .sectionFooterCenter form .inputSubmit:hover {
    background-color: $colorhoverInput;
}

body .containerNavbar .sectionFooterCenter form div input[type=checkbox] {
    width: 20px;
    height: 20px;
}

// end footer center
// start footer
.sectionFooter {
    padding-top: 170px;
    margin-top: 200px;
    background-color: $colorSuppliesMoney;
}

.rowGap1 {
    row-gap: 14px;
}

// end footer
// start media
@media (max-width: 1600px) {

    body .sectionWorldOfCamels .imageColor .textBottom1,
    body .sectionWorldOfCamels .imageColor1::before,
    body .sectionWorldOfCamels .imageColor1 .swiperImage {
        border-radius: 20px !important;
        width: 120%;
    }
}

@media (max-width: 990px) {
    body .containerNavbar {
        padding-left: 15px;
        padding-right: 15px;
    }

    body header {
        border-bottom: 0;
        background-color: transparent;
    }

    body header .containerNavbar .listResponse {
        position: fixed !important;
        left: 0;
        top: 0;
        padding-top: 110px;
        padding-bottom: 40px;
        z-index: -1;
        width: 100% !important;
        background-color: $colorWhite !important;
    }

    .gapIcon {
        gap: 15px;
    }

    body header .containerNavbar .listResponse li .flexColorNavbar {
        background-color: $colorMobile;
        color: $hoverNavbar !important;
    }

    body header .containerNavbar .listResponse li .divRelative .divButtonAll .containerNavbar .v-row .v-col .colorNavbarDiv {
        background-color: transparent !important;
        padding: 5px;
        padding-right: 0 !important;
    }

    .hoverCard::before,
    .gapTextColumn::before {
        display: none;
    }

    body header .containerNavbar .listResponse li .divRelative .divButtonAll,
    body header .containerNavbar .listResponse li .divRelative {
        top: 0;
        position: relative !important;
    }

    .sizeMain {
        font-size: 44px !important;
    }

    .divButton {
        background-color: $colorWhite;
    }

    .widthMobile {
        width: 100% !important;
    }

    body .containerNavbar .v-row .v-col .divBoxNews {
        border-radius: 10px 10px 10px 10px;
    }

    body .sectionMain .sectionVedioAndImage,
    body .sectionMain {
        height: 120vh;
    }

    .textCard {
        font-size: 14px;
    }

    .sectionWorldOfCamels::before {
        bottom: -50px;
    }

    body .sectionWorldOfCamels .imageColor .textBottom1,
    body .sectionWorldOfCamels .imageColor1::before,
    body .sectionWorldOfCamels .imageColor1 .swiperImage {
        width: 90% !important;
    }

    body .sectionWorldOfCamels .swiper-slide-active {

        .imageColor1::before,
        .swiperImage {
            transform: scale(1.1);
        }
    }

    body .sectionWorldOfCamels,
    body .sectionWorldOfCamels {
        margin-top: 50px !important;
    }

    body .sectionWorldOfCamels .imageColor .textBottom1 {
        bottom: 120px;
    }

    body .sectionWorldOfCamels .imageColor1 .textBottom1 .hoverImage .divCircle {
        width: 40px;
        height: 40px;
    }

    .titleCardText {
        font-size: 18px;
    }

    .textCardText {
        font-size: 14px;
    }

    body .sectionWorldOfCamels .imageColor1 .textBottom1 .hoverImage .iconSize {
        font-size: 15px;
    }

    body .sectionWorldOfCamels .imageColor1 .textBottom1 .hoverImage {
        width: 95%;
        display: flex !important;
    }

    .divButtonBlack {
        width: 80%;
    }

    body .sectionFarms div .slider {
        height: 150px;
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-250px * 7))
        }
    }

    body .sectionFarms div .slider1 {
        margin-top: 50px !important;
        margin-left: -3290px;

        .slide-track {
            animation: scroll1 10s linear infinite;
        }
    }

    @keyframes scroll1 {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(250px * 7))
        }
    }

    body .sectionFooter {
        padding-top: 660px;
        margin-top: 0;
        background-color: transparent;
    }

    body .sectionFooter .activeTitle {
        background-color: $colorTextFooter;
        text-align: center;
    }
}

@media(max-width: 300px) {

    body .sectionMain .sectionVedioAndImage,
    body .sectionMain {
        height: 140vh;
    }

    .hoverCard {
        flex-direction: column !important;

        div {
            text-align: center !important;
        }
    }

    body .sectionWorldOfCamels .imageColor .textBottom1 {
        display: none;
    }
}

// end media