@import "color";
@import url('https://fonts.cdnfonts.com/css/lama-sans');

// start public
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: $hoverNavbar;
}

body {
    text-transform: capitalize;
    font-family: 'Lama Sans', sans-serif;
}

.gapIcon {
    gap: 20px;
}

li {
    list-style: none;
}

.gap25 {
    gap: 25px;
}

.colorText {
    color: $colorMobile !important;
}

.hoverTitle:hover {
    h3 {
        color: $hoverNavbar;
    }
}

.activeTitle {
    color: $navbarHump;
}

.containerNavbar {
    padding-left: 70px;
    padding-right: 70px;
}

.borderWhite {
    border: 2px solid $colorWhite;
}

.imageAnimation {
    animation: imageAnimation 1.5s infinite;
}

@keyframes imageAnimation {
    0% {
        transform: translate(0, -10px);
    }

    50% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, -10px);
    }
}

.divMouse {
    cursor: pointer;
}

.textCard {
    color: $colorText;
}

.hoverCard::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -50px;
    border-radius: 15px;
    width: 106%;
    height: 115%;
    transition: 0.4s;
}

.hoverCard:hover::before {
    border-radius: 25px;
    left: -7px;
    background-color: $colorCard;
}

.iconPlus {
    transition: 0.3s;
}

.hoverPlus:hover {
    .iconPlus {
        transform: translate(-5px, 0);
    }
}

.swiper-pagination {
    top: 140px !important;
}

.swiper-pagination-bullet-active {
    width: 26px !important;
    border-radius: 20px !important;
}

.swiper-pagination-bullet {
    background-color: $colorWhite !important;
}

// end public
// start navbar
body header {
    z-index: 2;
    border-bottom: 3px solid #ccc;
    background-color: white;
}

body header .containerNavbar .listResponse li .flexColorNavbar div .iconTop {
    margin-top: 6.5px;
}

body header .containerNavbar .listResponse li:last-child {
    .iconTop {
        display: none;
    }
}

.iconTop {
    transform: rotate(0);
    transition: 0.5s;
}

body header .containerNavbar .listResponse li .active {
    background-color: $hoverNavbar !important;

    .iconTop {
        transform: rotate(-45deg);
    }

    .iconTop,
    span {
        color: $colorWhite !important;
    }
}

body header .containerNavbar .listResponse li .flexColorNavbar:hover {

    .iconTop {
        transform: rotate(-45deg);
    }

    .iconTop,
    span {
        color: $hoverNavbar;
    }
}

body header .v-row .listResponse {
    overflow: unset !important;
}

body header .containerNavbar .listResponse li .divRelative .divButtonAll {
    padding-top: 40px;
    padding-bottom: 40px;
    top: 86px;
    left: 0;
}

body header .containerNavbar .listResponse li .divRelative .divButtonAll .divNavbarCamel {
    border-radius: 25px;
    padding-top: 50px;
    background-color: $navbarHump;
}

body header .containerNavbar .listResponse li:nth-child(2) .divButtonAll .divNavbarCamel {
    flex-direction: row-reverse;
    background-color: $colorMainTow !important;

    .divBottomGamel {
        bottom: -20px;
    }
}

body header .containerNavbar .listResponse li:nth-child(3) .divButtonAll .divNavbarCamel {
    background: -webkit-linear-gradient(-10deg, $colorMainTow, $colorMainOne);
    padding-top: 0;

    .divBottomGamel {
        bottom: -20px;
    }
}

body header .containerNavbar .listResponse li:nth-child(3) {
    .containerNavbar {
        .v-row {
            .v-col {
                div {
                    .flexRow {
                        gap: 40px;
                        flex-direction: row-reverse !important;
                    }
                }
            }
        }
    }
}

.divBottomGamel {
    bottom: -7px;
}

body header .containerNavbar .listResponse li .divRelative .divButtonAll .containerNavbar .v-row .v-col .colorNavbarDiv {
    padding: 30px;
    border-radius: 30px;
    background-color: $colorMobile;
    transition: 0.5;
}

body header .containerNavbar .listResponse li .divRelative .divButtonAll .containerNavbar .v-row .v-col .colorImage {
    width: 50%;
    height: 60px;
}

body header .containerNavbar .listResponse li .divRelative .divButtonAll .containerNavbar .v-row .v-col .colorNavbarDiv:hover {
    background-color: $colorMainTow;

    .colorImage {
        filter: brightness(0) invert(1);
    }

    .colNews {
        color: $colorWhite;
    }
}

body header .containerNavbar .listResponse li .divRelative .divButtonAll .containerNavbar .v-row .colNews {
    color: $colorMainTow;
}

body header .containerNavbar .listResponse li .divRelative .divButtonAll .containerNavbar .v-row .v-col .divNavbarCamel .flexRow .divTextTow {
    gap: 10px;
    padding-bottom: 50px;
}

.gapTextColumn::before {
    content: "";
    position: absolute;
    width: 1.5px;
    height: 90%;
    background-color: $colorLine;
}

body header .containerNavbar .listResponse li .divRelative .divButtonAll .containerNavbar .v-row .v-col .rowChild {
    .colChild:first-child {
        .gapTextColumn::before {
            display: none;
        }
    }
}

// end navbar
// start main
body .sectionMain {
    background-color: $colorSectionMain;
    height: 100vh;
}

body .sectionMain .sectionVedioAndImage {
    height: 100vh;
}

body .sectionMain .sectionVedioAndImage .imageMainMobile,
body .sectionMain .sectionVedioAndImage video {
    opacity: 0.9 !important;
    object-fit: cover;
    z-index: -1;
}

body .sectionMain .sectionVedioAndImage div div .widthMobile div .imageButton {
    width: 40px;
    height: 37px;
}

body .sectionMain .sectionVedioAndImage div div .divButton::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: $colorWhite;
    transition: 0.5s;
}

body .sectionMain .sectionVedioAndImage div div .divButton div .textButton {
    margin-right: 0;
    transition: 0.5s;
}

body .sectionMain .sectionVedioAndImage div div .divButton:hover {
    div {
        .textButton {
            margin-right: 10px !important;
            color: $colorBlack;
        }
    }
}

body .sectionMain .sectionVedioAndImage div div .divButton:hover::before {
    height: 100%;
}

body .containerNavbar .v-row .v-col div .divNews {
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 10px 10px 0 0;
    background-color: $navbarHump;
}

body .containerNavbar .v-row .v-col .divBoxNews {
    border-radius: 10px 0 10px 10px;
}

.mySwiper {
    padding-left: 13% !important;
    padding-right: 13% !important;
    width: 100% !important;
}

.hoverCard {
    height: 100px;
}

body main .containerNavbar .v-row .v-col .divCarousel {
    margin-left: -25%;
    width: 150%;
}

// end main
// start cardsSanam
body .sectionCardsSanam .containerNavbar .gap10 {
    gap: 10px;
}

body .sectionCardsSanam::before {
    content: url("~/assets/images&icons/imagesAboutUs/star.svg");
    position: absolute;
    left: -10px;
    z-index: -1;
}

.divCard {
    border-radius: 20px;
    background-color: $colorCard;
}

.divCardImage {
    background-color: $hoverNavbar;
    width: 70px;
    height: 70px;
    transition: 0.5s;
}

body .sectionCardsSanam .containerNavbar .divCard .divHoverTop .sizeText14 {
    font-size: 14px;
}

body .sectionCardsSanam .containerNavbar .divCard .divHoverTop {
    transition: 0.5s;
}

body .sectionCardsSanam .containerNavbar .divCard:hover {
    background-color: $hoverNavbar;
    color: $colorWhite;

    .imageBackgroundCards {
        opacity: 0.5;
    }

    .divHoverTop {
        transform: translate(0, -20px);
    }

    .sizeText14 {
        color: $colorWhite;
    }

    .divCardImage {
        transform: translate(0, 50px);
        opacity: 0;
    }
}

body .sectionCardsSanam .containerNavbar .divCard .imageBackgroundCards {
    top: -10px;
    right: 10px;
    height: 160px;
    opacity: 0;
    transition: 0.4s;
}

body .sectionCardsSanam .containerNavbar div div .divTextHeight {
    width: 170px;
    height: 35px;
}

body .sectionCardsSanam .containerNavbar div div .divTextHeight .hoverText {
    transition: 0.3s;
}

body .sectionCardsSanam .containerNavbar div div .divTextHeight:hover {
    .hoverText {
        margin-top: -30px;
    }
}

// end cardsSanam
// start imageCards
.imageColor {

    img {
        border-radius: 40px;
    }
}

body section .containerNavbar .imageColor::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background: -webkit-linear-gradient(-3deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    background: linear-gradient(-3deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

body section .containerNavbar .imageColor div .textBottom {
    transition: 0.5s;
    bottom: -70px;
}

body section .containerNavbar .imageColor div .textBottom .divTextImage {
    transition: 0.5s;
    top: 200px;
    gap: 10px;
}

body section .containerNavbar .imageColor:hover {
    div {
        .textBottom {
            bottom: 40px;
        }
    }

    div {
        div {
            .divTextImage {
                top: 10px;
            }
        }
    }
}

// end imageCards
// start sectionWorldOfCamels
.mySwiper1,
.sectionWorldOfCamels {
    margin-top: 100px;
}

.textNavbar {
    color: $hoverNavbar;
}

.swiper-slide-active {
    img {
        transform: scale(2);
        object-fit: contain;
    }
}
// end sectionWorldOfCamels
// start media
@media (max-width: 990px) {
    body .containerNavbar {
        padding-left: 30px;
        padding-right: 30px;
    }

    body header {
        border-bottom: 0;
        background-color: transparent;
    }

    body header .containerNavbar .listResponse {
        position: fixed !important;
        left: 0;
        top: 0;
        padding-top: 110px;
        padding-bottom: 40px;
        z-index: -1;
        width: 100% !important;
        background-color: $colorWhite !important;
    }

    .gapIcon {
        gap: 15px;
    }

    body header .containerNavbar .listResponse li .flexColorNavbar {
        background-color: $colorMobile;
        color: $hoverNavbar !important;
    }

    body header .containerNavbar .listResponse li .divRelative .divButtonAll .containerNavbar .v-row .v-col .colorNavbarDiv {
        background-color: transparent !important;
        padding: 5px;
        padding-right: 0 !important;
    }

    .gapTextColumn::before {
        display: none;
    }

    body header .containerNavbar .listResponse li .divRelative .divButtonAll,
    body header .containerNavbar .listResponse li .divRelative {
        top: 0;
        position: relative !important;
    }

    .sizeMain {
        font-size: 44px !important;
    }

    body .sectionMain .sectionVedioAndImage div div .divButton {
        background-color: $colorWhite;
    }

    .widthMobile {
        width: 100% !important;
    }

    body .containerNavbar .v-row .v-col .divBoxNews {
        border-radius: 10px 10px 10px 10px;
    }

    body .sectionMain .sectionVedioAndImage,
    body .sectionMain {
        height: 120vh;
    }

    .textCard {
        font-size: 14px;
    }
}

@media(max-width: 300px) {

    body .sectionMain .sectionVedioAndImage,
    body .sectionMain {
        height: 140vh;
    }

    .hoverCard {
        flex-direction: column !important;

        div {
            text-align: center !important;
        }
    }
}

// end media